{% extends "base/base.html" %}

{% comment "You can use this if you have added the context_processor of this app to settings.py"%}
    {% extends BASE_TEMPLATE_DIR %}
{% endcomment %}

{% block title %}List mymodel{% endblock %} 

{% block content %} 
   
    {% load static %}

    <div class="container mt-3 mb-3">
        <h1>List my model
            <img src="{% static 'votings/pythonlogo.jpg' %}" alt="Python logo" width="30" height="30">
        </h1>
        <ul>
        {% for my_model in mymodel_list%}
            <li>{{my_model}}</li>

        {% endfor %}
        </ul>
        <a href="{% url 'votings:my_model_create' %}" class="btn btn-primary">create</a>
    </div>

{% endblock %}