# 1- Add this file as '.env' in the same folder that 'settings.py'
# 2- Change values to proper ones in your host
# 3- Create and activate a virtual env (virtualenv, venv, etc)

SECRET_KEY=changethis
#True in development, False in production
DEBUG=True
#Hosts separated by ',': example.com,127.0.0.1,example1.com
ALLOWED_HOSTS=

#postgre: django.db.backends.postgresql
#mariadb-mysql: django.db.backends.mysql
#sqlite (DEV): django.db.backends.sqlite3 (nothing to install)
DATABASE_ENGINE=django.db.backends.sqlite3
#sqlite: db.sqlite3
DATABASE_NAME=db.sqlite3
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
#postgre(default): 5432, mysql(default): 3306
DATABASE_PORT=

#django.core.mail.backends.console.EmailBackend for development
#django.core.mail.backends.smtp.EmailBackend for smtp
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
#55 for default port, 587 for smpt+tls
EMAIL_PORT=
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
#timeout in seconds
EMAIL_TIMEOUT=
#emai addressl that will be in from field in the emails: noreply@mail.com
DEFAULT_FROM_EMAIL=

#Internationalization
#lang: en-us, es-es, etc
LANGUAGE_CODE=en-us
TIME_ZONE=UTC
USE_I18N=True
USE_TZ=True

# Static files (CSS, JavaScript, Images)
STATIC_URL=static/
STATIC_ROOT=staticfiles/

# Non-static files (images, pdfs, etc.. that users modify)
MEDIA_URL=/media/

# CUSTOM VARIABLES
# Name of your web (not the url, without www or .com)
SITE_DOMAIN_NAME=
